.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.social-icons a {
  font-size: 15px;
}

/* Page */

.page {
  position: fixed;
  overflow-y: scroll;
  max-height: 100vh;
  top: 0;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.page-enter {
  transform: translate(0, -100%);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  /* box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset; */
  transform: translate(0, -100%);
}

.page--prev.page-enter {
  transform: translate(0, 100%);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(0, 100%);
}

.page-exit .page__inner {
  opacity: 0;
  scale: (0.8);
  transition: opacity 1s ease-in-out, scale 1s linear;
}

.experience-title {
  display: inline-block;
  position: relative;
  margin-left: -30px;
  padding: 5px 30px 5px 30px;
  background: #bd5d38;
  color: #fff;
}
.experience-title::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 10px;
  height: 0;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #343a40;
}

.resume-item {
  padding-left: 1.5em;
}
